.contactList {
  list-style-position: inside;
  background: white;
  box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
  padding: 0;
  margin: 0;
  border-radius: 0.1rem;

  width: fit-content;
}

li {
  font-family: 'Gloria Hallelujah', cursive;
  padding: 0 0 0 1rem;
  display: flex;
  justify-content: space-between;
}
li p {
  padding: 20px;
  margin: 0;
}
li button {
}

li:not(:last-child) {
  border-bottom: 1px solid lightblue;
}

li:first-child {
  margin-top: 1rem;
}

li:last-child {
  margin-bottom: 1rem;
}
